# Node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log
*.tsbuildinfo

# Build outputs
dist/
web/dist/

# Env & secrets
.env
.env.*
*.pem
*.key

# OS/Editor
.DS_Store
.idea/
.vscode/

# Logs
logs/
*.log
pm2.log
